# Node modules
node_modules/

# Python virtual environment
venv/
__pycache__/

# Environment files
.env

# Python cache
*.pyc

# Hugging Face cache
.cache/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Build folders
dist/
build/

# VS Code
.vscode/

# Mac files
.AppleDouble
.LSOverride

#test files
test_youtube.py
test_model.py